@media (prefers-color-scheme: dark) {
    body {
      background: #0e0e0e;
      color: #eaeaea;
    }
  
    button {
      background: #eaeaea;
      color: #111;
    }

    .ball.bonus {
        border: 2px solid #fff;
    }

    .yellow-ball {
        color: #000;
    }
  }
  